/* Colors */
$valid:       #7AD03A;
$invalid:     #DD3D36;
$failed:      #CC0000;
$empty:       #CC0000;
$instock:     #35c300;
$outofstock:  #c05153;

$white:       #ffffff;
$black:       #000000;
$grey:        #cccccc;

/* Font colors */
$to-trash:        #AA0000;
$to-trash-hover:  #FF0000;

/* Settings Page */
$tabs_nav_bg:             #001A33;
$tabs_section_title_bg:   #001A33;
$tabs_section_content_bg: #E6E8EB;
$tabs_section_nested_content_bg: #9FA7B2;

/* Background colors */
$success-message-background:  #dcf7e0;
$error-message-background:    #f5d7e0;

/* rows color */
$rows-odd-background-color:  #eeeeee;
$rows-even-background-color: #fafafa;

/* pager color */
$pager-background-color:  #000000;
$pager-a-color:           #ffffff;
$pager-btn-height:        32px;
$pager-btn-width:         32px;

/* End Colors */

/* Inputs */
$input-height:  30px;
$select-height: 30px;
/* End inputs */

/* Effects */
$border-radius:     4px;
$box-shadow:        5px 5px 8px #CCC;
$bottom-shadow:     0 8px 6px -6px #CCC;
/* End Effects */

/* Fonts */
$font-szie:               12px;

/* Transition */
$property:        top;
$duration:        0.5s;
$timingfunction:  ease;
$delay:           0s;

/* Metaboxes Blocks */

/* Colors */
$adm-border:              #666666;
$adm-trashed-bg:          #FAE8E8;
$adm-update-bg:           #CCEBCC;
$adm-error-bg:            #F5D7E0;
$adm-selected-bg:         #B2CEE8;
$adm-status:              #e2001a;
$adm-status-bg:           $white;

$adm-even:                #EFF1F2;
$adm-odd:                 #F9FAFA;

$adm-action-font-size:    14px;
$adm-action-btn-width:    20px;
$adm-action-btn-height:   30px;
$adm-action-btn:                $white;
$adm-action-btn-bg:             #005bb3;
$adm-action-btn-hover-bg:       #001A33;
$adm-action-btn-disabled-bg:    $grey;
$adm-action-btn-blink-bg:       #009933;
$adm-action-btn-blink-error-bg: #E51931;

$adm-delete-btn-bg:       #990000;
$adm-delete-btn-hover-bg: #7A0000;

$adm-edit-btn-bg:         #19A347;
$adm-edit-btn-hover-bg:   #0F622B;

/* Fonts */
$adm-header-font-size:    16px;
$adm-header-line-height:  20px;
$adm-status-font-size:    12px;





