/* Colors */
/* Font colors */
/* Settings Page */
/* Background colors */
/* rows color */
/* pager color */
/* End Colors */
/* Inputs */
/* End inputs */
/* Effects */
/* End Effects */
/* Fonts */
/* Transition */
/* Mixins */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*------ Settings Page / Tabs ----*/
.button.admwpp-settings-button {
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  background-color: #0082ff;
  border: none;
  vertical-align: middle;
  padding: 0px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .button.admwpp-settings-button.submit {
    margin-right: 10px; }
  .button.admwpp-settings-button.delete {
    background-color: #900; }
    .button.admwpp-settings-button.delete:hover, .button.admwpp-settings-button.delete:focus {
      background-color: #cc0000; }
  .button.admwpp-settings-button:active, .button.admwpp-settings-button:hover, .button.admwpp-settings-button:focus {
    color: #ffffff;
    background-color: #0068cc; }
  .button.admwpp-settings-button .fa {
    margin-right: 5px; }
  .button.admwpp-settings-button.admwpp_settings_edit_label_button {
    padding: 0px 5px;
    height: 20px;
    line-height: 20px;
    font-size: 10px; }
  .button.admwpp-settings-button.admwpp-loading .admwpp_spinner {
    display: inline-block;
    margin-left: 10px;
    float: none;
    margin-right: 0px;
    height: auto;
    width: auto; }

.admwpp_settings {
  float: left;
  width: 100%; }
  .admwpp_settings h3, .admwpp_settings h2 {
    margin: 0px; }
  .admwpp_settings .admwpp-section-title {
    float: left;
    width: 100%;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px; }
  .admwpp_settings .settings-section-info {
    float: left;
    width: 100%;
    margin-bottom: 10px; }
  .admwpp_settings .form-table {
    float: left;
    width: 100%;
    margin-top: 0px; }
  .admwpp_settings h2 {
    margin-bottom: 20px; }
  .admwpp_settings .wp-color-result::after {
    content: "\f1fc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal; }
  .admwpp_settings .admwpp-field-info {
    margin: 2px 0px; }
  .admwpp_settings .admwpp_actions {
    float: left;
    margin-bottom: 10px;
    width: 100%; }
  .admwpp_settings .admwpp_settings_form {
    padding: 0px 20px; }
    .admwpp_settings .admwpp_settings_form #admwpp-search-categories .field-wrapper {
      margin-bottom: 10px; }
    .admwpp_settings .admwpp_settings_form .admwpp-settings-table {
      margin-top: 0px; }
      .admwpp_settings .admwpp_settings_form .admwpp-settings-table td {
        padding: 0px;
        vertical-align: top; }
      .admwpp_settings .admwpp_settings_form .admwpp-settings-table .field-wrapper {
        margin-bottom: 5px;
        padding-right: 10px; }
      .admwpp_settings .admwpp_settings_form .admwpp-settings-table .admwpp-labels-edit-wrapper {
        display: inline-block;
        width: 90%;
        padding-left: 20px; }
  .admwpp_settings .admwpp-settings-list {
    margin: 0px; }
  .admwpp_settings .admwpp-settings-text,
  .admwpp_settings .admwpp-settings-textarea {
    width: 100%; }
    .admwpp_settings .admwpp-settings-text.admwpp_color_picker,
    .admwpp_settings .admwpp-settings-textarea.admwpp_color_picker {
      width: 100px; }
  .admwpp_settings #admwpp_other_contexts {
    width: auto; }
  .admwpp_settings .admwpp_spinner {
    float: left;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: none; }
  .admwpp_settings .admwpp_color_section_wrapper,
  .admwpp_settings .admwpp_settings_preview_button_wrapper {
    float: left;
    width: 100%; }
  .admwpp_settings input[type="text"]:disabled {
    background: #dddddd; }

.admwpp_seperator_section {
  float: left;
  width: 100%;
  height: 10px;
  background-color: #9fa7b2;
  border: none;
  margin: 0px; }
  .admwpp_seperator_section.admwpp_seperator_sub_section {
    height: 5px;
    margin-top: 10px;
    background-color: #758090; }

.admwpp-settings-tabs-content {
  float: left;
  background-color: #E6E8EB;
  width: 98%; }
  .admwpp-settings-tabs-content .admwpp-settings-title {
    background-color: #001A33;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0px 10px;
    margin-top: 0px;
    height: 40px;
    line-height: 40px;
    font-size: 16px; }
    .admwpp-settings-tabs-content .admwpp-settings-title .fa {
      margin-right: 10px; }
    .admwpp-settings-tabs-content .admwpp-settings-title a {
      color: #ffffff; }
      .admwpp-settings-tabs-content .admwpp-settings-title a:hover {
        color: #ffffff; }
    .admwpp-settings-tabs-content .admwpp-settings-title .admwpp-adminstrate-icon {
      float: right;
      height: inherit; }

.admwpp-settings-tabs-wrapper {
  float: left;
  width: 98%;
  margin-bottom: 20px; }
  .admwpp-settings-tabs-wrapper .admwpp-nav-tab {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    background-color: #005bb3; }
    .admwpp-settings-tabs-wrapper .admwpp-nav-tab .fa {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 40px;
      height: 40px;
      line-height: 40px; }
    .admwpp-settings-tabs-wrapper .admwpp-nav-tab.admwpp_account_settings {
      background-color: #003466; }
    .admwpp-settings-tabs-wrapper .admwpp-nav-tab.admwpp_general_settings {
      background-color: #004180; }
    .admwpp-settings-tabs-wrapper .admwpp-nav-tab.admwpp_layout_settings {
      background-color: #004e99; }
    .admwpp-settings-tabs-wrapper .admwpp-nav-tab.admwpp_search_settings {
      background-color: #005bb3; }
    .admwpp-settings-tabs-wrapper .admwpp-nav-tab.admwpp_advanced_settings {
      background-color: #0068cc; }
    .admwpp-settings-tabs-wrapper .admwpp-nav-tab.admwpp_uninstall_settings {
      background-color: #0075e6; }
    .admwpp-settings-tabs-wrapper .admwpp-nav-tab:hover {
      background-color: #001A33; }
    .admwpp-settings-tabs-wrapper .admwpp-nav-tab.admwpp-active {
      background-color: black; }

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 995px) {
  .admwpp-settings-tabs-wrapper {
    width: 160px; }
    .admwpp-settings-tabs-wrapper .admwpp-nav-tab {
      width: 100%; }
  .admwpp-settings-tabs-content {
    width: 80%;
    margin-left: 2%; } }

/* Large devices (large desktops, 1200px and up) */
