/* Colors */
/* Font colors */
/* Settings Page */
/* Background colors */
/* rows color */
/* pager color */
/* End Colors */
/* Inputs */
/* End inputs */
/* Effects */
/* End Effects */
/* Fonts */
/* Transition */
/* Metaboxes Blocks */
/* Colors */
/* Fonts */
/* Mixins */
/* Messages */
#admwpp-message-box {
  display: none;
  font-size: 14px;
  padding: 10px;
  margin: 0;
  position: fixed;
  max-width: 500px;
  width: 100%;
  z-index: 999999;
  border-left: solid 4px transparent;
  color: white;
  border-radius: 4px;
  transform: translateX(-50%);
  left: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#admwpp-message-box.success {
  background-color: #058064;
}

#admwpp-message-box.error {
  background-color: #d23434;
}

#bwwpp-message-box.show {
  display: block;
}

/* End Messages */
.admwpp-categories-list a {
  color: #000000;
}
.admwpp-categories-list a:hover {
  color: #009891;
}
.admwpp-categories-list a:visited {
  color: #000000;
}
.admwpp-categories-list a:visited:hover {
  color: #009891;
}

.admwpp-meta-information {
  padding: 0;
  margin: 0;
}
.admwpp-meta-information li {
  list-style: none;
}

.adwmpp-search-wrapper {
  width: 100%;
  position: relative;
}
.adwmpp-search-wrapper .adwmpp-search-input {
  border: 1px solid #ced4da;
  font-size: 16px;
  padding: 8px 12px;
  line-height: 22px;
  color: #000000;
  width: 100%;
}
.adwmpp-search-wrapper .adwmpp-search-input:focus {
  border-color: #ced4da;
  outline: none;
  outline-offset: 0;
}
.adwmpp-search-wrapper .adwmpp-search-button {
  background: transparent;
  color: #ced4da;
  padding: 10px;
  position: absolute;
  right: 5px;
}
.adwmpp-search-wrapper .adwmpp-search-auto-complete.ui-autocomplete-loading {
  background: url("../../../../../wp-admin/images/spinner.gif") no-repeat right center;
}

.adwmpp-filter-wrapper {
  position: relative;
}

.adwmpp-autocomplete-dropdown {
  overflow-x: auto;
  max-height: 300px;
}

.adwmpp-mobile-filter-button-wrapper {
  display: none;
}

.adwmpp-filters {
  margin-bottom: 20px;
}
.adwmpp-filters .adwmpp-filters-row {
  margin-bottom: 10px;
}
.adwmpp-filters .adwmpp-top-head {
  margin-bottom: 15px;
}
.adwmpp-filters .fa-filter {
  font-size: 16px;
}
.adwmpp-filters .adwmpp-btn {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
}
.adwmpp-filters .adwmpp-search-btn {
  color: #ffffff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.adwmpp-filters .adwmpp-input-wrapper label {
  font-weight: 500;
}
.adwmpp-filters .adwmpp-dropdown-body {
  margin-bottom: 15px;
}
.adwmpp-filters .selectric-wrapper {
  width: 100%;
}
.adwmpp-filters .selectric-wrapper .selectric .label {
  line-height: 30px;
}
.adwmpp-filters .admwpp-category-listing {
  padding: 0;
  list-style: none;
}
.adwmpp-filters .admwpp-minplaces-filter .admwpp-number {
  width: 100%;
  border: solid 1px #ced4da;
  font-size: 16px;
  line-height: 22px;
  padding: 8px 12px;
}

.entry .entry-content .adwmpp-filters,
.entry .entry-content .admwpp-search-results {
  max-width: 100%;
}

.admwpp-courses-listing {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.admwpp-courses-listing .admwpp-cousre {
  width: 33.333333%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.admwpp-courses-listing .admwpp-cousre .inner-cont {
  -webkit-box-shadow: 0 2px 30px 0 rgba(160, 164, 171, 0.15);
  -moz-box-shadow: 0 2px 30px 0 rgba(160, 164, 171, 0.15);
  box-shadow: 0 2px 30px 0 rgba(160, 164, 171, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  min-height: 100%;
}
.admwpp-courses-listing .admwpp-cousre img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.admwpp-courses-listing .admwpp-image {
  height: 170px;
  max-height: 170px;
  overflow: hidden;
}
.admwpp-courses-listing .admwpp-image a {
  display: block;
}
.admwpp-courses-listing .admwpp-info {
  padding: 15px;
}
.admwpp-courses-listing .admwpp-course-title {
  font-size: 21px;
  margin: 0 0 8px 0;
}
.admwpp-courses-listing .admwpp-course-title a {
  color: #000000;
}
.admwpp-courses-listing .admwpp-desc {
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 8px;
}
.admwpp-courses-listing .admwpp-desc li {
  line-height: 19px;
}
.admwpp-courses-listing .admwpp-desc > * {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  padding: 0;
  margin: 0;
}
.admwpp-courses-listing .admwpp-category {
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
}
.admwpp-courses-listing .admwpp-price {
  font-size: 18px;
  line-height: 22px;
}

.admwpp-date-filter .admwpp-date {
  width: 100%;
  border: solid 1px #ced4da;
  font-size: 16px;
  line-height: 22px;
  padding: 8px 12px;
}

.ui-widget.ui-widget-content {
  font-size: 16px;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .admwpp-courses-listing .admwpp-cousre {
    width: 50%;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .adwmpp-mobile-filter-button-wrapper {
    display: block;
  }

  .admwpp-courses-listing .admwpp-cousre {
    width: 100%;
  }
}
.admwpp-pager {
  text-align: center;
}
.admwpp-pager a,
.admwpp-pager span {
  margin: 0 10px;
  display: inline-block;
  color: #000000;
}
.admwpp-pager a:hover, .admwpp-pager a:visited, .admwpp-pager a:focus {
  color: #000000;
  text-decoration: underline;
}

/* Shortcodes */
.admwpp-bundled-lps {
  margin-bottom: 20px;
}

.admwpp-bundled-loadmore-btn {
  position: relative;
}
.admwpp-bundled-loadmore-btn .admwpp-loader {
  display: none;
  visibility: hidden;
  font-size: 15px;
  position: absolute;
  top: 4px;
  right: 5px;
}
.admwpp-bundled-loadmore-btn.admwpp-loading {
  cursor: default !important;
  background-color: #cccccc;
  border-color: #cccccc;
  padding-right: 25px;
}
.admwpp-bundled-loadmore-btn.admwpp-loading:hover {
  cursor: default !important;
  background-color: #cccccc;
  border-color: #cccccc;
}
.admwpp-bundled-loadmore-btn.admwpp-loading .admwpp-loader {
  display: inline-block;
  visibility: visible;
}

/* End Shoprtcodes */